/*==========  Mobile First Method  ==========*/

/* Start case */
@media all and (min-width : 1px) {
	.recording .title-section {
    overflow: auto;
    width: 100%;
  }

  .recording .title-section .the-title {
    float: left;
    width: 70%;
    margin-top: 0;
  }

  .recording .title-section .read-more-section {
    float: right;
		width: 20%;
		cursor: pointer;
  }


	.recording .title-section .read-more-section .read-more {
		float: right;
		text-align: right;
	}	

	.arrow-down {
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #003366;
		
		float: right;
		margin-right: 5px;
		margin-top: 8px;
	}

}

/* Custom, iPhone Retina */ 
@media all and (min-width : 320px) {
	.recording .title-section {
    overflow: auto;
    width: 100%;
  }

  .recording .title-section .the-title {
    float: left;
    width: 70%;
    margin-top: 0;
  }

  .recording .title-section .read-more-section {
    float: right;
  }
		
}

/* Extra Small Devices, Phones */ 
@media all and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media all and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media all and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media all and (min-width : 1200px) {

}


/* Design from mobile first */
@media all and (max-width: 479px) {
  .view-recording .view-content .views-row {
    width: 100%;
    float: left; 
	}

  .view-recording .view-content .views-row img {
      width: 100%;
      height: auto; 
	}

}

@media all and (min-width: 480px) and (max-width: 959px) {
  .view-recording .view-content .views-row {
    width: 49%;
    float: left; 
	}
  
	.view-recording .view-content .views-row:nth-child(2n - 1) {
		margin-right: 2%; 
	}
  
	.view-recording .view-content .views-row img {
		width: 100%;
    height: auto; 
	}
}

@media all and (min-width: 960px) {
  .view-recording .view-content .views-row {
    float: left;
    width: 32%; 
	}
  
  .view-recording .view-content .views-row:nth-child(3n - 1) {
   	margin-right: 2%;
    margin-left: 2%; 
	}
  
	.view-recording .view-content .views-row:nth-child(3n + 1) {
  	clear: left; 
	}
  
  .view-recording .view-content .views-row img {
      width: 100%;
      height: auto; 
	} 
}


